main.main 
  .container
    .main__inner
      h1.main__title Ты&nbsp;сегодня покормил кота?
      ul.main__list
        li.main__item
          .main__item-body.item
            .item__top
              p.item__top-text Сказочное заморское яство
              p.item__top-text.text--hover Котэ не одобряет?
              h2.item__top-title Нямушка
              h4.item__top-subtitle с фуа-гра
              p.item__top-bottom
                span <strong>10</strong> порций
                span мышь в подарок
            .item__image
              img(src="images/cat.png", alt="")
            .item__circle
                span 0,5
                span кг
          p.item__bottom-text Чего сидишь? Порадуй котэ, <a class='buy' href='#'>купи.</a>
          p.item__bottom-text.text--selected Печень утки разварная с&nbsp;артишоками.
          p.item__bottom-text.text--disabled Печалька, с&nbsp;фуа-гра закончился.
        li.main__item.disabled
          .main__item-body.item
            .item__top
              p.item__top-text Сказочное заморское яство
              p.item__top-text.text--hover Котэ не одобряет?
              h2.item__top-title Нямушка
              h4.item__top-subtitle с рыбой
              p.item__top-bottom
                span <strong>40</strong> порций
                span <strong>2</strong> мыши в подарок
            .item__image
              img(src="images/cat.png", alt="")
            .item__circle
                span 2
                span кг
          p.item__bottom-text Чего сидишь? Порадуй котэ, <a class='buy' href='#'>купи.</a>
          p.item__bottom-text.text--selected Головы щучьи с&nbsp;чесноком да&nbsp;свежайшая сёмгушка.
          p.item__bottom-text.text--disabled Печалька, с&nbsp;рыбой закончился.
        li.main__item.selected
          .main__item-body.item
            .item__top
              p.item__top-text Сказочное заморское яство
              p.item__top-text.text--hover Котэ не одобряет?
              h2.item__top-title Нямушка
              h4.item__top-subtitle с курой
              p.item__top-bottom
                span <strong>100</strong> порций
                span <strong>5</strong> мышей в подарок
                span заказчик доволен
            .item__image
              img(src="images/cat.png", alt="")
            .item__circle
                span 5
                span кг
          p.item__bottom-text Чего сидишь? Порадуй котэ, <a class='buy' href='#'>купи.</a>
          p.item__bottom-text.text--selected Филе из&nbsp;цыплят с&nbsp;трюфелями в&nbsp;бульоне.
          p.item__bottom-text.text--disabled Печалька, с&nbsp;курой закончился.
        